DISCORD_TOKEN=

BOT_PREFIX=!

GOOGLE_SHEET_ID=
GOOGLE_SHEET_NAME=Form Responses 1
GOOGLE_FORM_URL=
GOOGLE_CREDENTIALS_FILE=google_credentials.json
VERIFICATION_SYNC_INTERVAL=30

ADS_WEBSITE_URL=

TICKET_PANEL_CHANNEL_ID=
TICKET_LOG_CHANNEL_ID=

REDEEM_TICKET_CATEGORY_ID=
REWARD_TICKET_CATEGORY_ID=
SUPPORT_TICKET_CATEGORY_ID=

STAFF_ROLE_ID=

GEN_COOLDOWN=60
MAX_ACTIVE_TICKETS=1

CODE_LENGTH=5